@font-face {
	font-family: 'Circe';
	src:  url('/fonts/Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:	url('/fonts/Circe-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src:  url('/fonts/Circe-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('/fonts/Circe-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('/fonts/Circe-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('/fonts/Circe-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

body {
	font-family: 'Circe', sans-serif;
  font-size: 16px;
  line-height: 24px;
	min-width: 460px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #35393d;
}

/* скрываем оригинальный виджет - чтобы не было два ярлыка на экране*/
#jivo_chat_widget{
  display: none !important;
}

/* стиль по умолчанию - для оффлайн сообщений, если никого нет в онлайне */
#jivo_custom_widget{
  position: fixed;
  left: -3px;
  top: 30%;
  width: 35px;
  z-index: 300000;
  cursor: pointer;

  height: 222px;
  background-image: url(images/jivo_widget_offline.png);
}

/* при наведении ярлык должен сдвигаться вправо на 3px */
#jivo_custom_widget:hover{
  left:0;
}

/* если есть операторы в онлайне - показываем другой ярлык*/
#jivo_custom_widget.jivo_online{
  height: 178px;
  background-image: url(images/jivo_widget_online.png);
}
