.advantages {
  width: 100%;
  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 1040px) {
  .advantages__list {
    justify-content: space-between;
  }
}

.advantages__item {
  width: 340px;
  padding: 0 10px;
  padding-top: 200px;
  margin-top: 60px;

  background-position: top center;
  background-repeat: no-repeat;

  &--1 {
    background-image: url("../images/pictures/advantage-1.png");
    background-size: 80px;
  }

  &--2 {
    background-image: url("../images/pictures/advantage-2.png");
    background-size: 140px;
  }

  &--3 {
    background-image: url("../images/pictures/advantage-3.png");
    background-size: 200px;
  }
}

@media (max-width: 9) {

}

.advantages__item-title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px
}

.advantages__text {
  text-align: center;
}
