.advice {
  max-width: 1100px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advice__title {
  font-size: 45px;
  text-align: center;
  margin: 30px 0;
}

.advice__left {
  width: 200px;
}

.advice__center {
  width: 300px;
  height: 430px;
}

.advice__right {
  width: 550px;
}

.advice__edit {
  position: relative;
  display: block;
  height: 430px;
  width: 300px;
}

.advice__image {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}

.advice__edit-text {
  text-align: center;
}
