.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  & li:not(:last-child) {
    padding-right: 30px;
    // width: 100%;
    white-space: nowrap;

    background-image: url("../images/icons/row.png");
    background-repeat: no-repeat;
    background-position: ~"calc(100% - 10px)" 5px;
    background-size: 6px;
  }

  & li:last-child {
    margin-right: auto;
  }

  & a {
    font-size: 14px;
    font-weight: 300;
    color: @color-gold-light;

    &:not([href]) {
      color: @color-gold-light;

      &:hover,
      &:focus,
      &:active {
        color: @color-gold-light;

        cursor: default;
      }
    }
  }
}
