.button {
  display: inline-block;
  padding: 10px;
  padding-top: 15px;

  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: @color-gold;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid @color-gold;

  &:hover,
  &:focus {
    text-decoration: none;

    color: darken(@color-gold, 15%);
    border-color: darken(@color-gold, 15%);
  }

  &:active {
    text-decoration: none;

    color: lighten(@color-gold, 15%);
    border-color: lighten(@color-gold, 15%);
  }

  &--square {
    Width: 180px;
    height: 180px;

    font-size: 16px;
    line-height: 25px;
    color: @color-gold-light;
    font-weight: normal;

    border: none;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

@media (min-width: 620px) {
  .button {
    &--square {
      Width: 195px;
      height: 195px;
    }
  }
}
