.calendar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  & .carousel-inner {
    width: 400px;
    height: 100%;
  }

  & .carousel-inner .carousel-item {
    margin: 0;
    height: 100%;
  }

  & .carousel {
    width: 400px;
    height: 660px;
  }
}

.calendar__title {
  width: 100%;

  text-align: center;

  font-size: 45px;

  margin: 0;
  padding: 0;

  margin: 30px 0;
}

.calendar__left {
  width: 33%;
  display: block;
}

.calendar__right {
  width: 65%;
  display: block;
}

.calendar__today-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.calendar__today,
.calendar__dot-week,
.calendar__weather {
  display: block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
}

.calendar__today {
  font-size: 25px;
  color: @color-gold;
}

.calendar__dot-week {
  font-size: 11px;
  text-transform: uppercase;
  color: @color-gold;
}

.calendar__weather {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-right: 25px;

  background-repeat: no-repeat;
  background-position: 100% top;
  background-size: 22px;

  &--sunny {
    background-image: url(../images/icons/sunny-ash.png);
  }
}

.calendar__affairs-text {
  margin: 0 auto;
}

.calendar__affairs-indicator {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  float: left;
  margin-top: 6px;
}

.calendar__affairs-wrapper {
  & .carousel-item {
    height: auto;
  }

  & .carousel-control-prev {
    &::before {
      width: 15px;
      top: 8px;
    }
    &::after {
      width: 15px;
      top: 19px;
    }
  }

  & .carousel-control-next {
    &::before {
      width: 15px;
      top: 8px;
    }
    &::after {
      width: 15px;
      top: 19px;
    }
  }

  & .carousel-item {
    &:nth-child(1n) .calendar__affairs-indicator {
      background-color: #00b897;
    }
    &:nth-child(2n) .calendar__affairs-indicator {
      background-color: #ce0011;
    }
    &:nth-child(3n) .calendar__affairs-indicator {
      background-color: #fc499b;
    }
    &:nth-child(4n) .calendar__affairs-indicator {
      background-color: #009bef;
    }
    &:nth-child(5n) .calendar__affairs-indicator {
      background-color: #473b9b;
    }
    &:nth-child(6n) .calendar__affairs-indicator {
      background-color: #008c99;
    }
    &:nth-child(7n) .calendar__affairs-indicator {
      background-color: #ffb72b;
    }
    &:nth-child(8n) .calendar__affairs-indicator {
      background-color: #ce0011;
    }
    &:nth-child(9n) .calendar__affairs-indicator {
      background-color: #fc499b;
    }
    &:nth-child(10n) .calendar__affairs-indicator {
      background-color: #ffb72b;
    }
  }
}

.calendar__editor {
  width: 400px;
  height: 660px;
  position: absolute;

  bottom: 0;
  left: 0;

  & .photo_buttons {
    bottom: 0;
    // justify-content: space-between;
  }
}
