.cupboard {
  position: relative;
}

.cupboard__left {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 307px;
  height: 423px;

  top: 95px;
  left: 11px;
}

.cupboard__pile {
  display: block;

  width: 150px;
  height: 75px;

  margin-top: 12px;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }

  background-repeat: no-repeat;
  background-position: bottom center;

  &--1 {
    background-image: url("../images/wardrobe/beige/pile-1.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-1.png");
    }
  }
  &--2 {
    background-image: url("../images/wardrobe/beige/pile-2.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-2.png");
    }
  }
  &--3 {
    background-image: url("../images/wardrobe/beige/pile-3.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-3.png");
    }
  }
  &--4 {
    background-image: url("../images/wardrobe/beige/pile-4.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-4.png");
    }
  }
  &--5 {
    background-image: url("../images/wardrobe/beige/pile-5.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-5.png");
    }
  }
  &--6 {
    background-image: url("../images/wardrobe/beige/pile-6.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-6.png");
    }
  }
  &--7 {
    background-image: url("../images/wardrobe/beige/pile-7.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-7.png");
    }
  }
  &--8 {
    background-image: url("../images/wardrobe/beige/pile-8.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-8.png");
    }
  }
  &--9 {
    background-image: url("../images/wardrobe/beige/pile-9.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-9.png");
    }
  }
  &--10 {
    background-image: url("../images/wardrobe/beige/pile-10.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-10.png");
    }
  }
  &--11 {
    background-image: url("../images/wardrobe/beige/pile-11.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/pile-11.png");
    }
  }
}

.cupboard__top {
  position: absolute;
  display: flex;
  justify-content: flex-start;

  width: 423px;
  height: 70px;

  top: 12px;
  left: 330px;
}

.cupboard__hats {
  display: block;

  height: 70px;

  background-repeat: no-repeat;
  background-position: bottom center;

  margin: 0 5px;

  &--1 {
    width: 111px;
    background-image: url("../images/wardrobe/beige/hats-1.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/hats-1.png");
    }
  }

  &--3 {
    width: 151px;
    background-image: url("../images/wardrobe/beige/hats-3.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/hats-3.png");
    }
  }

  &--2 {
    width: 45px;
    background-image: url("../images/wardrobe/beige/hats-2.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/hats-2.png");
    }
  }
}

.cupboard__right {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  width: 127px;
  height: 397px;

  top: 122px;
  right: 13px;
}

.cupboard__bags {
  display: block;

  width: 127px;
  height: 80px;

  margin-top: 18px;

  background-repeat: no-repeat;
  background-position: bottom center;


  &--1 {
    margin-top: 8px;
    background-image: url("../images/wardrobe/beige/bags-1.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/bags-1.png");
    }
  }

  &--2 {
    margin-top: 35px;
    background-image: url("../images/wardrobe/beige/bags-2.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/bags-2.png");
    }
  }

  &--3 {
    margin-top: 16px;
    background-image: url("../images/wardrobe/beige/bags-3.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/bags-3.png");
    }
  }

  &--4 {
    background-image: url("../images/wardrobe/beige/bags-4.png");
    background-position: -40px 6px;

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/bags-4.png");
    }
  }
}

.cupboard__bottom {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;

  width: 536px;
  height: 110px;

  bottom: 10px;
  left: 331px
}

.cupboard__bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 9px;
}

.cupboard__bottom-center {
  display: flex;
  justify-content: center;
  margin-right: 9px;

  & .cupboard__footwear {
    width: 68px;
    height: 109px;
  }
}

.cupboard__bottom-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2px;

  & .cupboard__footwear:nth-child(n+3) {
    margin-top: 10px;
  }
}

.cupboard__footwear {
  display: block;

  width: 127px;
  height: 50px;

  background-repeat: no-repeat;
  background-position: bottom center;

  &--1 {
    background-image: url("../images/wardrobe/beige/footwear-1.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-1.png");
    }
  }

  &--2 {
    background-image: url("../images/wardrobe/beige/footwear-2.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-2.png");
    }
  }

  &--3 {
    margin-left: -10px;
    background-image: url("../images/wardrobe/beige/footwear-3.png");
    background-position: bottom left;

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-3.png");
    }
  }

  &--4 {
    background-image: url("../images/wardrobe/beige/footwear-4.png");
    background-position: bottom 10px;

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-4.png");
    }
  }

  &--5 {
    background-image: url("../images/wardrobe/beige/footwear-5.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-5.png");
    }
  }

  &--6 {
    background-image: url("../images/wardrobe/beige/footwear-6.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-6.png");
    }
  }

  &--7 {
    background-image: url("../images/wardrobe/beige/footwear-7.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-7.png");
    }
  }

  &--8 {
    background-image: url("../images/wardrobe/beige/footwear-8.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/footwear-8.png");
    }
  }
}

.cupboard__middle {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  width: 536px;
  height: 410px;

  bottom: 132px;
  left: 331px;
}

.cupboard__outerwear {
  display: block;

  height: 410px;

  background-repeat: no-repeat;
  background-position: top center;

  margin-left: -15px;

  &--1 {
    width: 53px;
    background-image: url("../images/wardrobe/beige/outerwear-1.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-1.png");
    }
  }

  &--2 {
    width: 64px;
    background-image: url("../images/wardrobe/beige/outerwear-2.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-2.png");
    }
  }

  &--3 {
    width: 74px;
    background-image: url("../images/wardrobe/beige/outerwear-3.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-3.png");
    }
  }

  &--4 {
    width: 58px;
    background-image: url("../images/wardrobe/beige/outerwear-4.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-4.png");
    }
  }

  &--5 {
    width: 87px;
    background-image: url("../images/wardrobe/beige/outerwear-5.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-5.png");
    }
  }

  &--6 {
    width: 57px;
    background-image: url("../images/wardrobe/beige/outerwear-6.png");

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-6.png");
    }
  }

  &--7 {
    width: 121px;
    background-image: url("../images/wardrobe/beige/outerwear-7.png");

    margin-left: -30px;

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/wardrobe/ash/outerwear-7.png");
    }
  }
}
