
// .canvas-container {
//     background-color: #f3f3f3;
//     position: fixed !important;
//     margin: 0;
//     border: 0;
//     padding: 0;
// }
// #ui {
//     position: fixed;
//     top: 0px;
// }
// #ui .active {
//     border: 1px solid black;
// }
.photo_wrap, .body_wrap {
    width: 386px;
    height: 659px;
    /* width: 600px; */
    /* width: 50%; */
    margin: 50px auto;
    position: relative;
}
#face_img, #body_img {
    // width: 100%;
    height: 100%;
    // transform: translateX(-50%);
}
#face_canvas, #body_canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 596px;
    height: 100%;
    // transform: translateX(-50%);

    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    display: block;
}
// #mask_forms {
//     float: left;
//     margin-top: 50px;
// }
#mask_forms img {
    margin: auto;
    display: none;
}
// .mask_form.active {
//     border: 1px solid black;
// }
// #body_mask_forms, #head_mask_forms {
//     position: fixed;
//     top: 50px;
// }
// #body_mask_forms {
//     right: 0;
// }
.editor__photo {
   height: 600px;
   position: absolute;
   transform: translateX(-50%);
   left: 50%;
   display: block;
   bottom: 0;
   bottom: 0;
}
.editor {
  padding: 0 30px;
  padding-top: 40px;
  padding-bottom: 100px;

  & .regist__label {
    margin: 0;
    margin-bottom: 5px;

    &:hover {
      & .regist__input-file-indicator {
        opacity: 1;

        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
      }
    }
  }

  & .regist__input-file-indicator {
    border: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
    background-size: 110px;
  }
}

.editor {
  & .editor__ui-color {
    & .regist__input-file-indicator {
      width: 180px;
      height: 180px;
      border: none;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
      background-size: 110px;
    }
  }

}

@media (min-width: 620px) {
  .editor {
    & .editor__ui-color {

      & .regist__input-file-indicator {
        width: 195px;
        height: 195px;
      }
    }
  }
}

.editor__title {
  margin: 0;

  display: block;
  width: 100%;

  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

  margin-bottom: 40px;
}

.editor__parameters-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 386px;

  margin: 0 auto;
}

@media (min-width: 880px) {
  .editor__parameters-wrapper {
    width: 800px;
  }
}

.editor__parameters {
  display: flex;
  align-items: center;

  width: 180px;
  height: 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;

  background-color: @color-ash;

  padding-left: 75px;
  padding-top: 4px;

  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 40px;

  margin-bottom: 20px;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    text-decoration: none;
    background-color: darken(@color-ash, 5%);
  }

  &--shape {
    background-image: url("../images/icons/shape.png");
  }

  &--color {
    background-image: url("../images/icons/color.png");
  }

  &--nuance {
    background-image: url("../images/icons/nuance.png");
  }

  &--palette {
    background-image: url("../images/icons/palette.png");
  }
}

.parameters-active {
  color: @color-gold-light;

  &:hover,
  &:focus,
  &:active {
    color: @color-gold-light;
  }
}

.editor__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 386px;
  justify-content: space-between;
  margin: 0 auto;
}

@media (min-width: 620px) {
  .editor__wrapper {
    max-width: 800px;
  }
}

@media (min-width: 880px) {
  .editor__wrapper {
    width: 800px;
    max-width: 800px;
  }
}

@media (min-width: 1260px) {
  .editor__wrapper {
    width: 1260px;
    max-width: 1260px;
  }
}

.editor__photo-wrapper {

}

.editor__ui {
  width: 170px;
  display: flex;
  flex-direction: column;

  & .regist__label {
    margin-right: 0;
  }

  & .active {
    position: relative;
    background-color: @color-ash;

    &::after {
      content: "";
      position: absolute;

      width: 15px;
      height: 15px;

      top: 3px;
      right: 3px;

      background-image: url("../images/icons/check.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    & .regist__mask-text {
      color: #fff;
    }
  }
}

.mask_form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mask_form {
  position: relative;
  display: flex;

  width: 110px;
  height: 110px;

  border: 2px solid @color-ash;

  margin-bottom: 10px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
  }

  &--hourglass {
    background-image: url("../images/icons/hourglass-ash.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center 10px;
  }

  &--rectangle {
    &::before {
      width: 45px;
      height: 65px;

      top: 10px;
      left: 30px;

      border: 2px solid @color-ash;
    }
  }

  &--circle {
    &::before {

      top: 17px;
      left: 25px;
      width: 55px;
      height: 55px;

      border: 2px solid @color-ash;
      border-radius: 50%;
    }
  }

  &--triangle {
    background-image: url("../images/icons/triangle-ash.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center 10px;
  }

  &--square {
    &::before {
      width: 55px;
      height: 55px;

      top: 20px;
      left: 26px;

      border: 2px solid @color-ash;
    }
  }

  &--oval {
    &::before {

      top: 14px;
      left: 30px;
      width: 45px;
      height: 65px;

      border: 2px solid @color-ash;
      border-radius: 50%;
    }
  }

  &--color {
    background-image: url("../images/icons/color-ash.png");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center 10px;

    &.active {
      background-image: url("../images/icons/color.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/icons/color.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }
  }

  &--texture {
    background-image: url("../images/icons/texture-ash.png");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center 10px;

    &.active {
      background-image: url("../images/icons/texture-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/icons/texture-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }
  }

  &--belt {
    background-image: url("../images/icons/belt-ash.png");
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center 40px;

    &.active {
      background-image: url("../images/icons/belt-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/icons/belt-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }
  }

  &--clasp {
    background-image: url("../images/icons/clasp-ash.png");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center 10px;

    &.active {
      background-image: url("../images/icons/clasp-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/icons/clasp-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }
  }

  &--pockets {
    background-image: url("../images/icons/pockets-ash.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center 15px;

    &.active {
      background-image: url("../images/icons/pockets-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-image: url("../images/icons/pockets-white.png");
      box-shadow: none;
      background-color: @color-ash;

      & .regist__mask-text {
        color: #fff;
      }
    }
  }

  & img {
    display: none;
  }
}

.editor__ui .active {
  &.mask_form--hourglass {
    background-image: url("../images/icons/hourglass-white.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center 10px;
  }

  &.mask_form--rectangle,
  &.mask_form--square,
  &.mask_form--circle,
  &.mask_form--oval {
    &::before {
      border-color: #fff;
    }
  }

    &.mask_form--triangle {
      background-image: url("../images/icons/triangle-white.png");
      background-size: 45px;
      background-repeat: no-repeat;
      background-position: center 10px;
    }
}

.editor__ui-color .active {

}

.regist__mask-text {
  font-size: 10px;
  line-height: 11px;
  color: @color-ash;
  text-align: center;
  text-transform: uppercase;

  display: block;
  width: 100%;
  padding: 0 10px;
  margin-top: auto;
  margin-bottom: 10px;
}

.photo_wrap {
  overflow: hidden;
  position: relative;
  display: block;

  width: 386px;
  // height: 600px;


  border: 2px solid @color-gray;

  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 20px;

  &--body {
    // background-image: url("../images/pictures/edit-girl.png");
    background-size: 130px;
  }

  &--head {
    // background-image: url("../images/pictures/edit-head.png");
    background-size: 300px;
  }

  // & canvas {
  //   position: absolute;
  //   bottom: 0;
  //   width: auto;
  //   height: 100%;
  //
  //   // transform: translateX(-20%);
  // }
}

// .photo_image {
//   display: block;
//   position: absolute;
//   width: 385px;
//   height: 90%;
//   bottom: 0;
//
//   // left: 0;
//   // right: 0;
// }

@media (min-width: 880px) {
  .photo_wrap {
    // width: 593px;
    // height: 750px;

    &--body {
      background-size: 170px;
    }

    &--head {
      background-size: 350px;
    }
  }
}

@media (min-width: 1260px) {
  .photo_wrap {
    width: 386px;
    // height: 605px;

    &--body {
      background-size: 130px;
    }

    &--head {
      background-size: 300px;
    }
  }
}

// .photo_wrap img {
//   position: absolute;
//   // width: 100%;
//   // height: 100%;
//
//   // top: 50%;
//   // transform: translateY(-50%);
//   bottom: 0;
//   // left: 50%;
//   // transform: translateX(-50%);
//
//   text-align: center;
//
//   // display: none;
// }

.editor__left,
.editor__right {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;

  width: 800px;
}

.editor__right {
  flex-direction: column;
}

@media (min-width: 620px) {
  .editor__left,
  .editor__right {
    flex-direction: row;
  }

  .editor__right {
    flex-direction: row-reverse;
  }
}

@media (min-width: 880px) {
  .editor__left,
  .editor__right {
    justify-content: center;
  }

  .editor__photo-wrapper {
    margin: 0 auto;
  }
}

@media (min-width: 1260px) {
  .editor__left,
  .editor__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 616px;
  }

  .editor__photo-wrapper {
    margin: 0;
  }
}

.editor__button-wrapper {
  position: relative;
  width: 315px;
  margin: 0 auto;

  & .button {
    position: absolute;
  }
}

@media (min-width: 880px) {
  .editor__button-wrapper {

    & .button {
      transform: translateX(100px);
    }
  }
}

@media (min-width: 1260px) {
  .editor__button-wrapper {

    & .button {
      top: -40px;
      transform: translateX(0);
    }
  }
}

.editor__text {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.editor__button {
  border: none;
  position: relative;
  width: 170px;
  height: 40px;
  margin-bottom: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 20px;

    width: 26px;
    height: 1px;

    background-color: @color-gold-light;
  }

  &--up {
    &::before {
      left: 63px;
      transform: rotate(-45deg);
    }

    &::after {
      right: 63px;
      transform: rotate(45deg);
    }
  }

  &--down {
    &::before {
      left: 63px;
      transform: rotate(225deg);
    }

    &::after {
      right: 63px;
      transform: rotate(135deg);
    }
  }

  &--manually,
  &--color-skin,
  &--color-hair,
  &--color-eye,
  &--shoulders,
  &--feet,
  &--hair {
    margin-bottom: 10px;
    padding-top: 155px;

    &:hover,
    &:focus,
    &:active {
      // opacity: 0.6;
    }
  }

  &--manually {
    padding-top: 120px;

    background-image: url("../images/icons/manually.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: center 25px;
  }

  &--color-skin {
    background-image: url("../images/icons/hand.png");
    background-repeat: no-repeat;
    background-size: 95px;
    background-position: center 25px;
  }

  &--color-hair {
    background-image: url("../images/icons/hair.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 25px;
  }

  &--color-eye {
    background-image: url("../images/icons/eye.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center 50px;
  }

  &--shoulders {
    box-shadow: none;
    background-image: url("../images/icons/shoulders.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center 50px;
  }

  &--feet {
    box-shadow: none;
    background-image: url("../images/icons/feet.png");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center 20px;
  }

  &--hair {
    box-shadow: none;
    background-image: url("../images/icons/head.png");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center 10px;
  }

  &--hairstyle {
    width: 170px;
    height: 170px;

    padding-top: 130px;

    box-shadow: none;
    color: @color-ash;

    border: 1px solid @color-ash;
    background-image: url("../images/icons/hairstyle.png");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 10px;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      background-color: @color-ash;
      border-color: @color-ash;
      color: #fff;

      background-image: url("../images/icons/hairstyle-ash.png");
    }

    &:active {
      position: relative;
      background-color: @color-ash;

      background-image: url("../images/icons/hairstyle-ash.png");
      color: #fff;

      &::after {
        content: "";
        position: absolute;

        width: 15px;
        height: 15px;

        top: 3px;
        right: 3px;

        background-image: url("../images/icons/check.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    &.active {
      position: relative;
      background-color: @color-ash;

      background-image: url("../images/icons/hairstyle-ash.png");
      color: #fff;

      &::after {
        content: "";
        position: absolute;

        width: 15px;
        height: 15px;

        top: 3px;
        right: 3px;

        background-image: url("../images/icons/check.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}

.editor__hairstyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 796px;
  margin: 0 auto;
}

.editor__ui {
  // flex-direction: row;
  margin: 0 auto;
}

.editor__ui-color {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

@media (min-width: 620px) {
  .editor__ui-color {
    flex-direction: column;
    justify-content: flex-start;
  }

  .editor__ui {
    flex-direction: column;
    margin: 0;
  }
}

.button--send {
  margin-bottom: 10px;
}

.editor__title-wrapper {
  display: flex;


  & .editor__title {
    width: 50%;
    transform: translateX(-50%);
  }

  & .breadcrumbs {
    width: 50%;
  }
}


.editor__list-wrapper {
  & .button {
    padding: 0;
    padding-top: 1px;
    width: 160px;
    font-size: 13.3px;
    text-transform: none;
    font-weight: 300;

    margin-bottom: 10px;

    &.active {
      background-color: @color-gold-light;
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        border-color: @color-gold-light;
        color: #fff;
      }
    }
  }
}

.editor__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.editor__item {
  // position: relative;
  // padding-left: 20px;
}

.editor__item-option {
  position: relative;
  display: block;
  width: 90%;
  padding: 10px 0;
  padding-left: 20px;

  font-size: 16px;
  color: #000;
  font-weight: 300;

  &:hover,
  &:focus,
  &:active {
    font-weight: normal;
    color: #000;
    text-decoration: none;
  }

  &:active {
    font-weight: normal;

    &::before {
      content: "";
      position: absolute;

      width: 7px;
      height: 7px;

      top: 18px;
      left: 5px;

      background-color: @color-gold-light;
      border-radius: 50%;
    }
  }

  &.active {
    font-weight: normal;

    &::before {
      content: "";
      position: absolute;

      width: 7px;
      height: 7px;

      top: 18px;
      left: 5px;

      background-color: @color-gold-light;
      border-radius: 50%;
    }
  }
}

.editor__select-wrapper {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid @color-gold-light;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper:hover {
  border-color: @color-gold;
}

.select-wrapper select {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-top: 2px;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select-wrapper select::-ms-expand{
    display: none;
}

.select-arrow {
  position: absolute;
  z-index: -9999;
  border: 6px solid transparent;
  border-bottom: 0;
  right: 10px;
}
.select-arrow:nth-child(1) {
  top: 11px;
  border-top-color: @color-gold-light;
}
.select-arrow:nth-child(2) {
  top: 10px;
  border-top-color: #FFF;
}

.editor__select {
  margin-bottom: 30px;
}

.editor__color-wrapper {
  max-width: 805px;
  margin: 0 auto;
}

.editor__range {

  appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  border: 1px solid @color-gold-light;
  background-image: linear-gradient(90deg, @color-gold-light, transparent);

  margin-bottom: 40px;

  &::-moz-range-track,
  &::-ms-track,
  &::-ms-fill-lower,
  &::-ms-fill-upper {
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border: 1px solid @color-gold-light;
    background-image: linear-gradient(90deg, @color-gold-light, transparent);
  }
}

.editor__range::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid @color-gold-light;
  cursor: pointer;
}

.editor__range::-moz-range-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid @color-gold-light;
  cursor: pointer;
}

.editor__range::-ms-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid @color-gold-light;
  cursor: pointer;
}

.editor__color-option {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor__color {
  position: relative;
  display: block;
  width: 75px;
  height: 75px;

  &.active {
    &::after {
      content: "";
      position: absolute;

      width: 20px;
      height: 20px;

      top: -7px;
      right: -7px;

      background-image: url("../images/icons/check.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  background-color: #eee;

  &--1 {
    background-color: #b32828;
  }

  &--2 {
    background-color: #b15429;
  }

  &--3 {
    background-color: #ae7f2b;
  }

  &--4 {
    background-color: #ac8c5a;
  }

  &--5 {
    background-color: #887e71;
  }

  &--6 {
    background-color: #512a20;
  }

  &--7 {
    background-color: #1c1413;
  }

  &--8 {
    background-color: #000000;
  }
}

.editor__pocket-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 805px;
  margin: 0 auto;
}

.editor__pocket {
  position: relative;
  display: block;
  width: 170px;
  height: 170px;

  border: 2px solid @color-ash;

  background-image: url("../images/icons/pockets-ash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  }

  &.active {
    background-color: @color-ash;
    background-image: url("../images/icons/pockets-white.png");

    &::after {
      content: "";
      position: absolute;

      width: 20px;
      height: 20px;

      top: 3px;
      right: 3px;

      background-image: url("../images/icons/check.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
