.imagery__title {
  font-size: 45px;
  text-align: center;

  margin: 30px 0;
}

.imagery {
  width: 1100px;
  margin: 0 auto;
}

.imagery__select-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;

  & .editor__select-wrapper {
    margin: 0;
    width: 255px;
  }
}

.imagery__input {
  width: 255px;
  border: 1px solid @color-gold;

  background-image: url("../images/icons/search.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: ~"calc(100% - 5px)" center;

  padding-left: 10px;
  padding-right: 30px;
}

.imagery__buttons-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;

  // justify-content: space-between;
  margin-right: -26.666px;
}

.imagery__button {
  overflow: hidden;
  position: relative;
  display: block;
  width: 255px;
  height: 255px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  background-repeat: no-repeat;
  background-position: center 30px;
  background-size: 150px;
  margin-right: 26.666px;

  &--1 {
    background-image: url("../images/icons/imagery-1.png");
  }

  &--2 {
    background-image: url("../images/icons/imagery-2.png");
  }

  &--3 {
    background-image: url("../images/icons/imagery-3.png");
  }

  &--4 {
    background-image: url("../images/icons/imagery-4.png");
    background-size: 130px;
    background-position: center 40px;
  }

  &--5 {
    background-image: url("../images/icons/imagery-5.png");
    background-size: 130px;
    background-position: center 40px;
  }

  &--6 {
    background-image: url("../images/icons/imagery-6.png");
    background-size: 130px;
    background-position: center 40px;
  }

  &--7 {
    background-image: url("../images/icons/imagery-7.png");
    background-size: 130px;
    background-position: center 40px;
  }

  &--8 {
    background-image: url("../images/icons/imagery-8.png");
    background-size: 110px;
    background-position: center 40px;
  }

  &--add {
    background-image: url("../images/icons/imagery-add.png");
    background-size: 110px;
    background-position: center 50px;
    margin-right: auto;
  }

  // &--style {
  //   background-image: url("../images/pictures/girl-in-pants.png");
  //   background-size: 85px;
  //   background-position: center 20px;
  // }

  &.active {
    background-color: #f0e9e0;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  }

  &:active {
    background-color: #f0e9e0;
  }
}

.imagery__img {
  position: absolute;
  width: auto;
  height: 235px;
  transform: translateX(-50%);
  left: 50%;
  top: 15px;
}

.imagery__style {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
}

.imagery__stile-title {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  border-bottom: 1px solid @color-gold;
}

.imagery__style-text {
  font-size: 11px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 4px 0;
}

.imagery__button-text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: @color-gold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 190px;
}
