
.js__d-none {
  display: none;
  transition-timing-function: ease-out;
  animation-duration: 1s;
  transition-property: all;
}

.js__d-block {
  display: block;
  transition-timing-function: ease-out;
  animation-duration: 1s;
  transition-property: all;
}
