.link {
  display: inline-block;

  min-width: 26px;
  height: 26px;
  position: relative;
  color: #fff;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;

    &::before,
    &::after {
      opacity: 0.6;
    }
  }

  &::after {
    content: "";
    position: absolute;

    width: 26px;
    height: 26px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--sign-up {
    margin-right: 10px;
    padding-top: 2px;
  }

  &--log-in {
    padding: 2px 0;
    padding-left: 10px;
    padding-right: 25px;

    &::before {
      content: "";
      position: absolute;

      width: 1px;
      height: 100%;

      top: 0;
      left: 0;

      background-color: #fff;
    }

    &::after {
      right: 0;
      top: -2px;

      width: 22px;
      height: 28px;

      background-image: url("../images/icons/log-in.png");
    }
  }

  &--profile {
    &::after {
      width: 22px;
      height: 22px;
      background-image: url("../images/icons/profile.png");

      margin-top: 2px;
    }
  }

  &--log-out {
    &::after {
      background-image: url("../images/icons/log-out.png");
    }
  }

  &--star {
    &::after {
      background-image: url("../images/icons/star.png");
    }
  }

  &--message {
    &::after {
      background-image: url("../images/icons/message.png");
    }
  }

  &--shop {
    &::after {
      background-image: url("../images/icons/shop.png");
    }
  }
}
