.lk {
  width: 100%;

  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1050px;
  margin: 0 auto;
}

.lk__title {
  margin: 0;

  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;

  margin-bottom: 30px;
  margin-left: 40px;
}

.lk__name {
  font-size: 45px;
  text-align: left;
  margin-left: 40px;
}

@media (min-width: 980px) {
  .lk__title {
    margin-left: 0;
  }

  .lk__name {
    margin-left: 0;
  }
}

.lk__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 490px;
  margin: 0 auto;

  padding-top: 50px;
}

@media (min-width: 980px) {
  .lk__wrapper {
    width: auto;
    margin: 0 auto;
  }
}

.lk__model-wrapper {
  position: relative;
  display: block;
  width: 490px;
  height: 700px;

  border: 2px solid @color-gray;

  margin-bottom: 20px;
}

.lk__model {
  width: 100%;
  height: 100%;
  background-image: url("../images/pictures/edit-girl.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.lk__parameters {
  position: absolute;
  display: none;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // border: 2px solid @color-gray;
  padding: 5px 20px;

  & .lk__model-button--parameters {
    background-image: url("../images/icons/girl-white.png");
    background-size: 34px;
    background-position: center 5px;
    padding-top: 85px;
  }
}

.lk__file-wrapper {
  & .regist__input-file-indicator {
      overflow: hidden;
  }
  & .regist__input-file-indicator img {
      position: absolute;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
  }
}

.lk__parameters-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

  & .regist__label {
    margin-top: 5px;
  }
}

.lk__file-wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & .regist__label {
    margin: 0;
    margin-bottom: 5px;
  }

  & .regist__input-file-indicator {
    width: 100px;
    height: 100px;
    background: none;

    &::before {
      display: none;
    }
  }
}

.lk__model-button {
  display: block;
  width: 25px;
  height: 25px;

  z-index: 10;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--eye {
    background-image: url("../images/icons/eye-small.png");
  }

  &--zoom {
    background-image: url("../images/icons/zoom.png");
  }

  &--save-2 {
    background-image: url("../images/icons/save-2.png");
  }

  &--save {
    // position: absolute;

    top: 15px;
    right: 0;

    background-image: url("../images/icons/save.png");
  }

  &--share {
    // position: absolute;

    top: 15px;
    right: 40%;

    background-image: url("../images/icons/share.png");
  }

  &--edit {
    // position: absolute;

    top: 15px;
    left: 25%;

    background-image: url("../images/icons/edit.png");
  }

  &--add {
    // position: absolute;

    top: 15px;
    left: 48%;

    background-image: url("../images/icons/add.png");
  }

  &--delete {
    // position: absolute;

    top: 15px;
    right: 27%;

    background-image: url("../images/icons/delete.png");
  }

  &--turn-left {
    // position: absolute;

    top: 15px;
    left: 40%;

    background-image: url("../images/icons/turn-left.png");
  }

  &--turn-right {
    // position: absolute;

    top: 15px;
    right: 40%;

    background-image: url("../images/icons/turn-right.png");
  }

  &--paint {
    // position: absolute;

    width: 27px;
    height: 27px;

    top: 15px;
    left: 27%;

    background-image: url("../images/icons/paint.png");
  }

  &--star {
    background-image: url("../images/icons/star-gold.png");
  }

  &--parameters {
    position: absolute;

    right: 0;
    bottom: 0;

    width: 110px;
    height: 110px;

    background-color: #cfb897;

    background-image: url("../images/icons/parameters.png");
    background-size: 50px;
    background-position: center 15px;

    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    padding-top: 65px;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      background-color: darken(@color-gold-light, 10%);
    }
  }

  &--clothes,
  &--wardrobe,
  &--imagery,
  &--advice {
    width: 150px;
    height: 150px;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    margin-bottom: 40px;
    padding: 0 30px;
    padding-top: 113px;

    text-align: center;
    font-size: 14px;
    line-height: 15px;
    color: @color-gold-light;
    text-transform: uppercase;

    background-position: center 20px;

    &:hover,
    &:focus,
    &:active {
      color: @color-gold-light;
      text-decoration: none;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    }
  }

  &--clothes {
    background-image: url("../images/pictures/advantage-2.png");
    background-size: 65px;
  }

  &--wardrobe {
    background-image: url("../images/pictures/wardrobe.png");
    background-size: 80px;
  }

  &--imagery {
    background-image: url("../images/pictures/imagery.png");
    background-size: 80px;
  }

  &--advice {
    background-image: url("../images/pictures/advantage-3.png");
    background-size: 80px;
  }
}

.lk__right {
  display: flex;
  flex-direction: column;
}

.lk__option-wrapper {
  display: flex;
  width: 490px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.lk__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 320px;
  height: 340px;
}

.lk__of-the-day {
  display: block;
  width: 150px;
  height: 340px;

  background-color: #ceb797;

  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 15px;

  padding: 0 40px;
  padding-top: 300px;
}

.lk__colors-title {
  margin: 0;

  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.lk__colors-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 490px;
}

.lk__color {
  display: block;
  width: 72px;
  height: 70px;

  background-color: @color-gray;

  margin-bottom: 15px;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  &--1 {
    background-color: #c0e7f6;
  }

  &--2 {
    background-color: #ccc5a1;
  }

  &--3 {
    background-color: #a26e46;
  }

  &--4 {
    background-color: #e1736a;
  }

  &--5 {
    background-color: #47c5bf;
  }

  &--6 {
    background-color: #d9bbe7;
  }

  &--7 {
    background-color: #f8ba22;
  }

  &--8 {
    background-color: #93a83a;
  }

  &--9 {
    background-color: #77719f;
  }

  &--10 {
    background-color: #7d1a24;
  }

  &--11 {
    background-color: #0a5b5a;
  }

  &--12 {
    background-color: #572b6b;
  }

  &--13 {
    background-color: #c0e8f6;
  }

  &--14 {
    background-color: #ccc6a2;
  }

  &--15 {
    background-color: #a26e46;
  }

  &--16 {
    background-color: #e1736a;
  }

  &--17 {
    background-color: #47c5bf;
  }

  &--18 {
    background-color: #d9bbe7;
  }

}

.photo_buttons {
  z-index: 1000;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 14px 0;
  background-color: #fff;

  .lk__model-button:not(:last-child) {
    margin-right: 25px;
  }
}
