.modal-content {
  padding: 50px 30px;
  display: block;

}

.modal__input {
  width: 100%;
  font-size: 45px;
  line-height: 47px;
  text-align: center;
  font-weight: 200;
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfb897;

  .placeholder(@color-ash);
}

.modal-dialog {
  max-width: 600px;
}

.modal__name-text {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: 300;
  margin-bottom: 40px;
}

.modal__color {
  display: block;
  width: 100%;

  margin-bottom: 30px;
}

.modal__text {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.modal__color-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 360px;
  margin-bottom: 20px;
}

.modal__color-label {
  position: relative;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-size: 13px;

  background-color: #eee;

  padding-top: 4px;
  padding-left: 5px;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  }

  &--1 {
    background-color: #d8b8cb;
  }

  &--2 {
    background-color: #4f0500;
  }

  &--3 {
    background-color: #009bef;
  }

  &--4 {
    background-color: #008c99;
  }

  &--5 {
    background-color: #ffb72b;
  }

  &--6 {
    background-color: #ce0011;
  }

  &--7 {
    background-color: #fc499b;
  }

  &--8 {
    background-color: #473b9b;
  }

  &--more {
    background-color: #fff;
    color: @color-gold;
    border: 1px solid @color-gold;
  }
}

.modal__color-active {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  border-radius: 50%;
  background-color: transparent;
}

.modal__color-input {
  display: none;
}

.modal__color-input:checked ~ .modal__color-active {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.0);
  }
}

.modal .select-arrow {
  z-index: 10000;
}

.modal .editor__select-wrapper {
  margin-bottom: 30px;
  padding: 0;
}

.carousel {
  width: 360px;
  margin: 0 auto;
}

.carousel-inner {
  width: 180px;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  // position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;

    left: 20px;

    width: 25px;
    height: 1px;

    background-color: @color-gold;
  }

  &::before {
    top: 81px;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 81px;
    transform: rotate(-45deg);
  }
}

.carousel-control-prev {
  &::before {
    top: 81px;
    transform: rotate(135deg);
  }

  &::after {
    bottom: 81px;
    transform: rotate(225deg);
  }
}

.carousel-item {
  width: 180px;
  height: 180px;

  & .modal__input {
    display: none;
  }
}

.modal__input:checked ~ .modal__indicator {
  position: absolute;
  display: block;

  width:20px;
  height: 20px;

  top: 20px;
  right: 20px;

  background-image: url("../images/icons/check-ash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal__icon {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px;

  &--1 {
    background-image: url("../images/icons/imagery-1.png");
  }

  &--2 {
    background-image: url("../images/icons/imagery-2.png");
  }

  &--3 {
    background-image: url("../images/icons/imagery-3.png");
  }

  &--4 {
    background-image: url("../images/icons/imagery-4.png");
  }

  &--5 {
    background-image: url("../images/icons/imagery-5.png");
  }

  &--6 {
    background-image: url("../images/icons/imagery-6.png");
  }

  &--7 {
    background-image: url("../images/icons/imagery-7.png");
  }

  &--8 {
    background-image: url("../images/icons/imagery-8.png");
  }

  &--9 {
    background-image: url("../images/icons/imagery-9.png");
  }
}

.modal__button {
  width: 360px;
  margin: 0 auto;

  & .button {
    width: 100%;
  }
}
.modal__calendar-date-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal__calendar-date {
  font-size: 25px;
  text-align: center;
  color: @color-gold;
  text-transform: uppercase;
}

.modal__calendar-dot-week {
  font-size: 11px;
  text-align: center;
  color: @color-gold;
  text-transform: uppercase;
  font-weight: 300;
}

.modal__select-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  & .editor__select-wrapper {
    width: 100%;
  }
}

.modal__input-left,
.modal__time-wrapper {
  width: 45%;
}

.modal__time {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;
  align-items: center;

  border: 1px solid @color-gold;

  padding-left: 7px;
}

.modal__time-input {
  border: none;
  width: 18%;
  padding-top: 3px;
  padding-bottom: 0;

  &:focus {
    outline: none;
  }
}

.modal__time-sep {
  display: block;
  width: 20%;

  height: 1px;

  background-color: @color-gold;
}

.modal__time-text {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  color: @color-gold;
}

.modal__button {
  & .button {
    margin-bottom: 20px;
  }
}

.modal__shape-wrapper {
  display: none;
}

.modal__shape {
  overflow: hidden;
  position: relative;
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.modal__shape-image {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
