.nav__logo {
  margin-left: 40px;
  margin-right: auto;
}

.navbar {
  color: #fff;
  background-color: #34393c;
}

.navbar a {
  color: #fff;
}

.nav__link-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  margin-right: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 25px;
  margin-left: auto;

  align-self: flex-start;
}

.header--inner .nav__link-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 870px) {
  .header--inner .nav__link-wrapper {
    margin-left: 0;
  }
}

.nav__date-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;

  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;

  margin-left: auto;
  margin-right: 25px;
  padding-top: 10px;
}

.nav__weather {
  position: relative;
  padding-right: 22px;

  background-position: top right;
  background-repeat: no-repeat;
  background-size: 15px;

  &--sunny {
    background-image: url("../images/icons/sunny.png");
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;

  padding: 0 10px;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 1px;
    height: 100%;

    background-color: #fff;
  }

  &--options {
    min-width: 300px;
  }

  &--log {
    min-width: 140px;
  }
}
