.regist {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
}

.regist__title {
  margin: 0;

  font-size: 45px;
  width: 100%;
  text-align: center;

  margin-bottom: 30px;
}

.regist__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regist__input {
  padding: 0px;
  display: block;
  box-sizing: border-box;

  width: 170px;

  font-weight: 200;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid @color-gold-light;

  .placeholder (#000);

  &--file {
    display: none;
  }
}

.regist__input-file-indicator {
  display: block;
  position: relative;
  overflow: hidden;

  width: 170px;
  height: 170px;

  background-color: #fff;

  border: 1px solid @color-gold-light;

  margin-bottom: 5px;

  background-size: cover;
  background-position: center;

}

.regist__file-indicator-text {
  position: absolute;
  display: block;

  // width: 90px;
  width: 100%;
  height: 100%;

  // bottom: 30px;
  // left: 50%;
  // transform: translateX(-49%);

  padding-top: 100px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  background-image: url("../images/icons/camera.png");
  background-repeat: no-repeat;
  background-position: center 30px;
  background-size: 90px;

  color: @color-gold-light;
}


.regist__label {
  margin-right: 20px;
  margin-top: 20px;

  &:last-child {
    margin-right: 0;
  }

  &--main {
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    & .regist__input,
    & .regist__input-file-indicator {
      opacity: 0.6;
    }
  }
}

.regist__text {
  text-transform: lowercase;
  font-size: 16px;
  line-height: 18px;
}

.regist__label--main .regist__input {
  font-size: 45px;
  line-height: 47px;

  width: 100%;

  border: none;
  border-bottom: 1px solid @color-gold-light;
}

@media (min-width: 550px) {
  .regist__label--main .regist__input {
    width: 550px;
  }
}

.regist__label--main .regist__text,
.regist__label--file .regist__text {
  display: block;
  width: 100%;
  text-align: center;
}

.regist__link {
  display: block;
  color: @color-gold-light;
  text-transform: uppercase;

  width: 200px;

  padding-left: 50px;
  margin-top: 30px;

  background-image: url("../images/icons/play-smal.png");
  background-repeat: no-repeat;
  background-position: left 3px;
  background-size: 40px;

  &:hover,
  &:focus,
  &:active {
    color: @color-gold-light;
    text-decoration: none;
    opacity: 0.6;
  }
}

.regist__line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.regist__button {
  margin-top: 40px;
}
