.wardrobe {
  padding: 0 30px;
  padding-top: 40px;
  padding-bottom: 100px;
}

.wardrobe__wrapper {
  margin: 0 auto;
  width: 1000px;

  margin-bottom: 20px;
}

.wardrobe__text {
  display: block;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

  margin-top: 30px;
}

.wrdrobe__range-wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.wardrobe__range {

  appearance: none;
  width: 100%;
  height: 1px;
  outline: none;
  border: none;
  background: transparent;

  margin-bottom: 40px;

  &::-moz-range-track,
  &::-ms-track,
  &::-ms-fill-lower,
  &::-ms-fill-upper {
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border: none;
    background: transparent;
  }
}

.wardrobe__range::-webkit-slider-thumb {
  z-index: 10;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.wardrobe__range::-moz-range-thumb {
  z-index: 10;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.wardrobe__range::-ms-thumb {
  z-index: 10;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.wardrobe__images-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wardrobe__image {
  display: block;
  width: 40px;
  height: 40px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  padding-top: 5px;

  &--winter {
    background-image: url("../images/icons/winter.png");
  }

  &--spring {
    background-image: url("../images/icons/spring.png");
  }

  &--summer {
    background-image: url("../images/icons/summer.png");
  }

  &--autumn {
    background-image: url("../images/icons/autumn.png");
  }
}

.wardrobe__point-wrapper {
  z-index: -1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;

  top: 0;

  &::before {
    content: "";
    position: absolute;

    width: 99%;
    height: 1px;

    bottom: -5px;

    background-color: #000;
  }
}

.wardrobe__point {
  display: block;
  width: 11px;
  height: 11px;

  background-color: @color-gold-light;
  border-radius: 50%;

  transform: translateY(10px);
}

.wardrobe__cupboard {
  display: block;

  width: 1017px;
  height: 650px;

  background-image: url("../images/wardrobe/wardrobe.png");
  background-repeat: no-repeat;
  background-position: center;
}
